django==2.2
Pillow~=6.2
django-cleanup~=4.0
psycopg2-binary~=2.8
django-solo~=1.1
djangorestframework~=3.10
djangorestframework-simplejwt~=4.3
drf-yasg~=1.16
packaging~=19.2
celery[redis]~=4.3
redis~=3.3
django-celery-beat~=1.5
django-celery-results~=1.1
django-celery-email~=3.0
djoser~=2.0
coverage~=5.0
django-cors-headers~=3.2
pytest~=5.3
pytest-django~=3.8
pytest-cov~=2.8
factory-boy~=2.12
sentry-sdk==0.14.0
gunicorn~=20.0