@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf'),
         url('/fonts/Roboto-Bold.ttf');
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #505962;
}

::selection {
    background: #1ebba3;
}
a:hover {
  text-decoration: none;
}
.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}

/*--- Navigation --*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .08rem;
    background: none!important;
}
nav.black {
    background: rgba(0, 0, 0, 0.6)!important;
}
#user-icon svg.svg-inline--fa {
    height: 1.3rem;
}
#bell-icon svg.svg-inline--fa {
    height: 1.3rem;
}
#login-icon svg.svg-inline--fa {
    height: 1.3rem;
}
#logout-icon svg.svg-inline--fa {
    height: 1.3rem;
}
.navbar-nav li {
    padding-right: 0.2rem;
}
.navbar-nav .navbar-dark .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;
}
.navbar-nav li:hover>.dropdown-menu {
    display: block;
    border-radius: 0;
}
.nav-item {
    white-space: nowrap;
}

/*--- Landing Page --*/

.home-inner {
    background-image: url('/static/computers.png');
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}
.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3 {
    font-size: 1.5rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}
.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

/*--- Courses Section --*/

.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}
.narrow h1 {
    font-size: 2rem;
}
.btn-secondary {
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color: white;
    background-color: #1ebba3;
    border-color: #1ebba3;
}
.btn-secondary:hover {
    background-color: #189582;
    border-color: #189582;
}

/*--- Jumbotron section --*/

.jumbotron {
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}
h3.heading {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}
.feature svg.svg-inline--fa {
    color: #1ebba3;
}
.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}
.feature p {
    font-size: 1.1rem;
}

/*--- Teachers section --*/

.teachers img {
    width: 50%;
    border-radius: 50%;
}
.fixed {
    background-image: url('/static/man-working-on-macbook.jpg');
    z-index: -1;
}
.dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    /*padding: 5rem 1rem;*/
}
.fixed-background h3 {
    margin-bottom: 2rem;
}
.fixed-background p {
    margin-top: 1.5rem;
}

/*--- Partners section --*/

.slide svg.svg-inline--fa {
    color: #1ebba3;
}
.customer-logos {
    padding-bottom: 2rem;
}

/*--- Reviews section --*/

.reviews img {
    width: 100%;
    border-radius: 50%;
}
blockquote .svg-inline--fa{
    color: #1ebba3;
    margin: 1rem;
}
.reviews-hr {
    border-top: .05rem solid #1ebba3;
}

/*--- Footer section --*/

footer {
    background-color: #40474e;
    color: white;
}
footer a {
    color: white;
}
footer a.active,
footer a:hover {
    color: #1ebba3;
}
footer svg.svg-inline--fa:hover {
    color: #1ebba3!important;
}
hr.socket {
    width: 300%;
    margin-left: -100%;
}
.socket-div {
    padding-top: 0!important;
}
.footer-column {
    padding-bottom: 0!important;
}

/*--- Media Queries --*/

@media (max-width: 767px) {
.caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
}
.caption h3 {
    font-size: 1rem;
    padding-bottom: 1rem;
}
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
}
.narrow h1 {
    font-size: 1.5rem;
}
.reviews img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}
.footer-columns {
    text-align: center;
}
}
@media (min-width: 1200px) {
.container {
    max-width: 1200px;
    margin: auto;
}
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/